@import '../mixins.scss';
@import '../variables.scss';

textarea {
  outline: none;
  border: none;
}

#editor {
  @include preview-window;
  background-color: black;
  color: $base-color;
}

.heading {
  @include heading;
}

@media screen and (max-width: 1000px) {
  #editor {
    @include preview-mindow-mobile;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1300px) {
  #editor {
    max-width: 500px;
  }
}
