@import '../mixins.scss';

#preview {
  @include preview-window;

  & pre,
  & code {
    background: bisque;
    padding: 5px;
    line-height: 1.2;
  }

  & table,
  & th,
  & td,
  & tbody {
    border: 1px solid black;
  }
}

.toolbar {
  @include toolbar;
}

@media screen and (max-width: 1000px) {
  #preview {
    @include preview-mindow-mobile;
  }
}
