@import '../mixins.scss';
@import '../variables.scss';


#preview {
  @include preview-window;

  & pre,
  & code {
    background-color: $accent-color;
    padding: 5px;
    line-height: 1.2;
  }

  & table,
  & td,
  & th {
    border: 1px solid $base-color;
    margin: 0;
    border-collapse: collapse;
    padding: 5px;
  }

  & th,
  & td {
    background-color: $accent-color;
  }
}

.heading {
  @include heading;
}

@media screen and (max-width: 1000px) {
  #preview {
    @include preview-mindow-mobile;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1300px) {
  #preview {
    max-width: 500px;
  }
}
